.root {
    -fx-background-image: url(/client/images/marble.jpg);
    -fx-font-family: 'Goudy Bookletter 1911', serif;
}

#draftpoolbox {
    -fx-border-color: gray;
    -fx-border-width: 3px;
}

#personalbox {
    -fx-border-color: gray;
    -fx-border-width: 3px 3px 0 3px;
    -fx-font-size: 20px;
}

#usersbox {
    -fx-border-color: gray;
    -fx-border-width: 0 3px 3px 3px;
}

.button {
    -fx-font-size: 14px;
}

.toggle-button {
    -fx-background-color: transparent;
}

.toolcardbutton {
    -fx-background-color: transparent;
}

.text-area {
    -fx-background-color: #909090;
}

.text-area .content {
    -fx-background-color: #f0f0f0;
}

.choice-box .list-view {
    -fx-font-size: 16px;
}

#yes {
    -fx-font-size: 16px;
}

#no {
    -fx-font-size: 16px;
}